<h1>CSV Data</h1>
<table>
  <tr>
	<% @data[0].keys.each do |column| %>
    		<td><%= column %></td>
	<% end %>
 </tr>
<% @data.each do |row| %>
  <tr>
    <% row.values.each do |item| %>
      <td><%= item %></td>
    <% end %>
  </tr>
<% end %>
</table>
